.bakingo {
  display        : flex;
  justify-content: center;
  margin-top     : 6em;
  margin-bottom  : 2em;
}

.main-content {
  border: 1px solid gray;
}

.icon {
  display        : flex;
  justify-content: space-between;
  margin-top     : 12px;
}

.arrow {
  margin-left: 15px;
}

.giftCard {
  margin-right: 15px;
}

.image {
  margin-top: 10px;
}

.imageSize {
  width : 375px;
  height: 400px;
}

.choko-rate {
  display        : flex;
  justify-content: space-around;
  margin-top     : 18px;
}

.love-rakhi {
  margin-right: 47px;
  font-weight : 600;
  opacity     : 0.7;
}

.star {
  font-size   : 13px;
  margin-right: 5px;
}

.rate-starImage {
  width        : 13px;
  margin-bottom: -2px;
}

.rating-star {
  display: flex;
}

.rating {
  font-size            : 13px;
  border-left          : 2px solid #ddd;
  padding-left         : 6px;
  text-decoration      : underline;
  text-decoration-color: gray;
}

.cake {
  margin-left: 23px;
  font-weight: 600;
  opacity    : 0.7;
  margin-top : 5px;
}

.choco-vanilla {
  margin-left: 23px;
  font-size  : 11px;
  color      : gray;
  margin-top : 8px;
}

.price-percent {
  display    : flex;
  font-weight: 600;
  opacity    : 0.7;
  margin-left: 23px;
  margin-top : 12px;
}

.price-cross {
  margin-left: 4px;
  color      : grey;
}

.cross-big {
  opacity   : 0.9;
  border    : solid 1px gray;
  transform : rotate(-7deg);
  margin-top: -10px;
}

.percent-0f {
  color      : green;
  margin-left: 8px;
  font-size  : 12px;
  margin-top : 1px;
}

.underline {
  border-bottom: 1px solid grey;
  margin       : 15px 18px 22px 24px;
  opacity      : 0.4;
}

.select-weight {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
}

.cake-weight {
  margin-left: -17px;
}

.weight-normal {
  padding      : 9px 8px;
  margin       : -5px 10px 0 0;
  font-size    : 12px;
  border-radius: 4px;
  cursor       : pointer;
  display      : inline-block;
  border       : 1px solid #888;
  color        : grey;
}

.weightBlack {
  padding         : 9px 8px;
  margin          : -5px 10px 0 0;
  font-size       : 12px;
  border-radius   : 4px;
  cursor          : pointer;
  display         : inline-block;
  border          : 1px solid #888;
  color           : white;
  background-color: black;
  font-weight     : 600;
  opacity         : 0.7;
}

.select-flavour {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
}

.vanilla-icon {
  display        : flex;
  justify-content: space-between;
  margin         : 10px 15px 0px 23px;
  border         : 1px solid gray;
  border-radius  : 2px;
  padding        : 12px 7px 1px 10px;
}

.vanilla {
  font-size  : 14px;
  font-weight: 600;
  opacity    : 0.6;
  font-family: monospace;
}

.iconBottom {
  margin-top: -5px;
  color     : grey;
}

.uploadImages {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
  margin-top : 15px;
}

.photo-mb {
  margin       : 10px 15px 0px 23px;
  border       : 1px solid gray;
  border-radius: 2px;
  padding      : 5px 0px 3px 12px;
}

.degree-mb {
  display: flex;
}

.percent {
  font-size  : 12px;
  font-weight: bold;
  opacity    : 0.8;
}

.mb {
  font-size  : 12px;
  margin-left: 5px;
  color      : grey;
}

.change-photo {
  font-size : 12px;
  margin-top: 4px;
  color     : #ea5757;
}

.file-size {
  font-size  : 11px;
  margin-left: 28px;
  margin-top : 6px;
  color      : grey;
}

.message {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
  margin-top : 15px;
}

.message-cake {
  margin       : 10px 15px 0px 23px;
  border       : 1px solid gray;
  border-radius: 2px;
  padding      : 12px 7px 8px 16px;
  color        : grey;
  opacity      : 0.7;
  font-size    : 14px;
}

.cake-description {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
  margin-top : 15px;
}

.content {
  width      : 324px;
  opacity    : 0.9;
  font-family: BuenosAiresTrial;
  font-size  : 14px;
  margin-left: 23px;
  margin-top : 10px;
  height     : 100px;
}

.sku {
  font-family: BuenosAiresTrial;
  font-size  : 11px;
  font-weight: 600;
  line-height: 2;
  color      : #251d34;
  opacity    : 0.6;
  margin-left: 23px;
}

.availale-city {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.6;
  margin-top : 15px;
}

.deliver-city {
  display: flex;
}

.deliver {
  margin-left: 23px;
  font-size  : 12px;
  color      : grey;
}

.city {
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
  margin-left: 3px;
}

.orCity {
  margin-left: 23px;
  font-size  : 12px;
  font-weight: 600;
  opacity    : 0.7;
  margin-top : 4px;
}

.image-protection {
  display   : flex;
  margin-top: 3em;
}

.image-icon {
  margin-left: 23px;
}

.money {
  width     : 24px;
  opacity   : 0.9;
  margin-top: 4px;
}

.payment-protection {
  margin-left: 10px;
  font-size  : 13px;
}

.percent-payment {
  display: flex;
}

.payment {
  margin-left: 2px;
  font-weight: 600;
  opacity    : 0.8;
  font-family: BuenosAiresTrial;
  color      : #251d34;
  margin-top : -2px;
}

.protection {
  margin-left: 2px;
  font-weight: 600;
  opacity    : 0.8;
  font-family: BuenosAiresTrial;
  color      : #251d34;
}

.image-delivered {
  display   : flex;
  margin-top: 12px;
}

.people {
  opacity: 0.9;
  width  : 28px;
  height : 28px;
  color  : gray;
}

.image-delivery {
  display   : flex;
  margin-top: 12px;
}

.thumb {
  opacity: 0.9;
  width  : 28px;
  height : 28px;
  color  : gray;
}

.also-like {
  color          : #251d34;
  display        : flex;
  justify-content: center;
  font-family    : cursive;
  font-size      : 20px;
  font-weight    : 600;
  opacity        : 0.9;
  margin-top     : 3.5em;
}

.cake-blackForest {
  width        : 171px;
  height       : 140px;
  border-radius: 15px;
  margin-top   : -2px;
  margin-right : 5px;
}

.cake-whiteForest {
  width        : 192px;
  height       : 140px;
  border-radius: 30px;
  margin-left  : -22px;
  margin-right : 5px;
}

.cake-image-size {
  width      : 147px;
  height     : 138px;
  margin-left: 3px;
}

.toothsome-cordial {
  display   : flex;
  margin-top: 25px;
}

.toothsome-price {
  width           : 9.5em;
  margin          : 0 14px 0 0;
  border-radius   : 4px;
  border          : .5px solid rgba(0, 0, 0, 0.04);
  padding         : 3px 3px 14px;
  box-shadow      : 0 14px 15px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.cordial-price {
  width           : 9.5em;
  margin          : 0 14px 0 0;
  border-radius   : 4px;
  border          : .5px solid rgba(0, 0, 0, 0.04);
  padding         : 3px 3px 14px;
  box-shadow      : 0 14px 15px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.cake-price {
  padding: 0px 0px 0px 23px;
}

.cake-name {
  opacity    : 0.9;
  font-family: BuenosAiresTrial;
  font-size  : 13px;
  font-weight: 600;
  margin-left: 8px;
}

.cakeSmall {
  opacity    : 0.9;
  font-family: BuenosAiresTrial;
  font-size  : 13px;
  font-weight: 600;
  margin-left: 8px;
}

.price-small {
  font-size  : 12px;
  font-weight: bold;
  color      : #292640;
}

.price-priceCross {
  display    : flex;
  margin-left: 8px;
}

.priceDiscount {
  font-size  : 12px;
  margin-left: 2px;
}

.cross {
  opacity   : 0.9;
  border    : solid 0.75px gray;
  transform : rotate(-13deg);
  margin-top: -8px;
}

.see-more {
  display        : flex;
  justify-content: center;
  margin-top     : 5px;
}

.see-more-box {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100px;
  height          : 35px;
  border-radius   : 5px;
  border          : solid 2px rgba(255, 127, 125, 0.6);
  background-color: #fff2f2;
  color           : #ff7f7d;
  font-size       : 11px;
}

.rating-review {
  display        : flex;
  justify-content: center;
}

.rating-review-header {
  width      : 142px;
  opacity    : 0.8;
  font-family: Pacifico;
  font-size  : 22px;
  text-align : center;
  height     : 60px;
}

.five-star {
  display        : flex;
  justify-content: center;
}

.fill-star {
  width : 20px;
  height: 18px;
}

.ratings {
  margin-left: 4px;
  color      : grey;
  margin-top : 1px;
}

.basedOn-review {
  display        : flex;
  justify-content: center;
  margin-top     : 10px;
}

.basedOn {
  font-size: 12px;
  color    : #292640;
}

.reviews-rating {
  font-size  : 12px;
  font-weight: 600;
  color      : #292640;
  margin-left: 4px;
  opacity    : 0.9;
  height     : 37px;
}

.zomato {
  display        : flex;
  justify-content: center;
  margin-top     : -4px;
  margin-bottom  : 16px;
}

.zomto-size {
  font-size       : 14px;
  border          : 1px solid #ef2f2f;
  color           : white;
  background-color: #ef2f2f;
  padding         : 2px 2px 2px 8px;
  width           : 55px;
  font-weight     : bold;
}

.google {
  display        : flex;
  justify-content: center;
  margin-bottom  : 10px;
}

.google-image {
  width     : 58px;
  margin-top: -6px;
}

.facebook {
  display        : flex;
  justify-content: center;
  margin-bottom  : 14px;
  margin-top     : 4px;
}

.facebook-image {
  width: 68px;
}

.all-description {
  margin-bottom: 40px;
}

.description-rating {
  display        : flex;
  justify-content: center;
  padding        : 15px 0px 0px 0px;
}

.description-name {
  width           : 290px;
  height          : 150px;
  border-radius   : 8px;
  background-color: #f2f2f2;
  padding         : 14px;
}

.rating-date {
  display        : flex;
  justify-content: space-between;
}

.star-fill {
  width: 14px;
}

.rating-number {
  font-size  : 12px;
  color      : #585858;
  font-weight: 600;
  font-family: BuenosAiresTrial;
  margin-left: 4px;
}

.date {
  font-size  : 11px;
  color      : #585858;
  font-family: BuenosAiresTrial;
  margin-left: 4px;
}

.title {
  opacity    : 0.9;
  font-family: BuenosAiresTrial;
  font-size  : 16px;
  font-weight: 600;
  color      : #292640;
  line-height: 2.2;
}

.description {
  opacity    : 0.6;
  font-family: BuenosAiresTrial;
  font-size  : 15px;
  line-height: 1.35;
  color      : #292640;
}

.name {
  opacity    : 0.9;
  font-family: BuenosAiresTrial;
  font-size  : 15px;
  line-height: 3;
  color      : #292640;
}

.quick-links-cities {
  height          : 600px;
  background-color: #ecebeb;
}

.Quick-links {
  display        : flex;
  justify-content: center;
  font-family    : Pacifico;
  font-size      : 22px;
  color          : #251d34;
  font-weight    : 600;
  padding-top    : 30px;
  margin-bottom  : 20px;
}

.all-cake-type {
  width           : 265px;
  height          : 420px;
  border-radius   : 8px;
  background-color: #ffffff;
  margin-left     : 19px;
  padding         : 35px;
}

.cake-top-cities {
  opacity  : 0.9;
  font-size: 14px;
  color    : #282c3f;
}

.city-first {
  display    : flex;
  color      : #ff5f5d;
  opacity    : 0.98;
  font-family: BuenosAiresTrial;
  font-size  : 15px;
  margin-top : 10px;
}

.boder {
  border-left: 1px solid grey;
  margin-left: 7px;
}

.chennai {
  margin-left: 7px;
}

.mumbai {
  margin-left: 7px;
}

.hyderabad {
  margin-left: 7px;
}

.cake-by-type {
  opacity   : 0.9;
  font-size : 14px;
  color     : #282c3f;
  margin-top: 30px;
}

.footer-description {
  background-color: #FACECE;
  margin-top      : 1.5em;
}

.footer-image {
  width: 370px;
}

.bakingo-footer {
  padding-top   : 30px;
  padding-bottom: 4em;
}

.bakingo-name {
  font-size  : 25px;
  margin-left: 23px;
  color      : red;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c-2019 {
  display    : flex;
  align-items: center;
  margin-left: 23px;
  margin-top : 10px;
}

.year {
  font-size: 12px;
  margin   : 1px 0px 0px 8px;
}

.knowUs-needHelp {
  display        : flex;
  justify-content: space-between;
  margin-left    : 23px;
  margin-top     : 2em;
  color          : grey;
}

.know-us {
  font-weight: bold;
}

.description-bottom {
  font-size : 12px;
  margin-top: 12px;
}

.Need-Help {
  font-weight: bold;
}

.needHelp-description {
  margin-right: 4em;
}

.our-story {
  margin-top: 7px;
}

.contact-us {
  margin-top: 7px;
}

.lacate-us {
  margin-top: 7px;
}

.blog {
  margin-top: 7px;
}

.more-info {
  color      : grey;
  font-weight: bold;
  margin-left: 23px;
  margin-top : 20px;
}

.customised-cakes {
  font-size  : 12px;
  color      : grey;
  margin-left: 23px;
  margin-top : 15px;
}

.Corporate-cakes {
  font-size  : 12px;
  color      : grey;
  margin-left: 23px;
  margin-top : 7px;
}

.find-us {
  color      : grey;
  margin-left: 23px;
  font-weight: bold;
  margin-top : 2em;
}

.all-logos {
  display    : flex;
  align-items: center;
  margin-left: 23px;
  margin-top : 18px;
}

.fIcon {
  font-size: 30px;
  color    : grey;
}

.logo {
  width      : 27px;
  color      : grey;
  margin-left: 25px;

}

.subscribe-newsletter {
  margin-left: 23px;
  color      : grey;
  font-weight: bold;
  margin-top : 2em;
}

.email-address {
  display         : flex;
  align-items     : center;
  margin-left     : 23px;
  border          : 1px solid white;
  background-color: white;
  width           : 190px;
  padding         : 12px;
  font-size       : 14px;
  border-radius   : 4px;
  color           : grey;
  font-weight     : bold;
  margin-top      : 1.5em;
}

.subscribe {
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin-left     : 23px;
  border          : 1px solid #f35c5c;
  background-color: #f35c5c;
  width           : 190px;
  padding         : 12px;
  font-size       : 13px;
  border-radius   : 4px;
  color           : white;
  font-weight     : bold;
  margin-top      : 1.5em;
}